# This is an example file!!!
# To run locally, remove lines starting with '#', and rename file to 'variables.env'.
# Lastly, Replace the connection string below with your own.

DB=mongodb+srv://<username>:<password>@buyontrust-users-zyrol.mongodb.net/users?retryWrites=true&w=majority